/* tabs.css */

.tabs {
    display: flex;
    justify-content: center;
    margin: 10px auto 0 auto;
}

.tab-button {
    background-color: rgba(255,255,255,0.1);
    color: var(--default-header-text);
    border: none;
    padding: 12px 25px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    border-bottom: none;
    opacity: 0.8;
    border-radius: 8px 8px 0 0;
    margin: 0 5px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.tab-button:hover {
    opacity: 1;
    background-color: rgba(255,255,255,0.2);
    transform: translateY(-2px);
}

.tab-button.active {
    opacity: 1;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    transform: translateY(0);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Dashboard ile tabs arası boşluk */
header {
    padding-bottom: 0;
}
#dashboard-cards {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-content {
    display: none;
    height: 100%; /* Tab içeriği hala kendi kapsayıcısının yüksekliğini almalı */
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.tab-content.active {
    display: block;
}